.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

<div class="card text-center border-0">
<div class="card-header">
  <ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item1">
      <a class="nav-link active" href="#About Me">About Me</a>
    </li>
    <li class="nav-item2">
      <a class="nav-link" href="#MyProjects">My Work</a>
    </li>
    <li class="nav-item3">
      <a class="nav-link" href="Assests/Spiegel, Adam UConn Resume.pdf" target="_blank">My Resume</a>
    </li>
    <li class="nav-item4">
      <a class="nav-link" href="#ContactInfo">Contact Info</a>
    </li>
    <img src=Assests\Images\UconnLogo.jpg id="Uconn Logo" style="width:60px;height:50px;" class="align-self-end">
  </ul>
</div>